
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore all data (raw, processed & split)
project_root/data/raw/
project_root/data/processed/
project_root/data/train/
project_root/data/val/
project_root/data/test/

# Ignore CSVs & dataset files
*.csv
*.zip
*.rar
*.7z
*.tar
*.gz

# Ignore model weights & binaries
*.h5
*.hdf5
*.pt
*.pth
*.onnx

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs or temp files
*.log
runs/
